body {
    height:100%;
    font-family:Arial;
    background-image:url("Resources//images/jeopardy1.jpg");
    background-size:1920px 1080px;
}
 input.GameBoardCell
 {
     width:95%;
     height:95%;
     text-align: center;
     font-size:175%;
     font-weight: 900;
     text-shadow:5px 5px black;
     padding: 1% 1%;
     color:#D69F4C;
     
 }
 input[type=submit]
 {
     background-color:#0719B8;
     border:none;
     cursor:pointer;
     
 }
 input.answer_choice
 {
     display:block;
     width:80%;
     margin:0 auto;
     color:white;
     font-size:140%;
     font-weight:700;
     text-shadow:2px 2px black;
     padding:5px;
 }

 .question_material
 {
     width:100%;
 }
 .question_text
 {
     display:block;
     width:95%;
     margin:0 auto;
     text-align:center;
     color:white;
     font-size:225%;
     padding:20px;
     font-weight:700;
     text-shadow:3px 3px black;
 }

 input[type=submit]:hover
 {
     background-color:#151B72;
 }
 td.boardHead
 {
     text-shadow:3px 3px black;
     width:275px;
 }

 td.boardCell
 {
     height:125px;
 }

 table
 {
     table-layout:fixed;
 }

 .play_area
 {
     display:block;
     margin:0 auto;
     background-color:#0719B8;
     width:75%;
     border:solid 5px;
 }
 #lblCategory
 {
     width:50%;
     color:white;
     font-size:275%;
     padding:20px;
     font-weight:700;
     text-shadow:3px 3px black;
 }

 #lblValue
 {
     width:50%;
     font-size:275%;
     font-weight: 700;
     text-shadow:3px 3px black;
     padding: 1% 1%;
     color:#D69F4C;
 }
 #tblGameboard
 {
     display:block;
     width:1650px;
     table-layout:fixed;
     margin:0 auto;
 }

 .headings
 {
     display:block;
     width:100%;
     margin:0 auto;
     border-bottom:2px solid;
 }

 #imgDailyDouble
 {
     display:block;
     width:40%;
     margin:0 auto;
 }

 #wager_area
 {
     text-align:center;
 }

.Label
 {
     color:white;
     font-size:150%;
     font-weight:600;
     text-shadow:3px 3px black;
 }

 #btnSubmit
 {
     background-color:lightgray;
     color:black;
     font-size:110%;
     font-weight:300;
     border:2px solid black
 }

 #tbxWager{
     border:2px solid;
 }

 #lblError
 {
     color:red;
     font-size:100%;
     font-weight:100;
     text-shadow:1px 1px black;
 }
 .info_area
 {
     width:1650px;
     display:block;
     margin:0 auto;
 }

 #imgQuestion
 {
     width:50%;
     display:block;
     margin:0 auto;
     border:1px solid black;
 }

 div.nameArea
 {
     display:block;
     margin:0 auto;
     background-color:#0719B8;
     width:75%;
     border:solid 5px;
     text-align:center;
 }

 .pageHeading
 {
     display:block;
     width:100%;
     margin:0 auto;
     color:white;
     font-size:275%;
     padding:20px;
     font-weight:700;
     text-shadow:3px 3px black;
 }

 .prompt
 {
     color:white;
     font-size:150%;
     padding:20px;
     font-weight:600;
     text-shadow:2px 2px black;
 }
 div.roundTransition
 {
     display:block;
     margin:0 auto;
     background-color:#0719B8;
     width:75%;
     border:solid 5px;
     text-align:center;
 }

 #btnContinue
 {
     background-color:lightgray;
     color:black;
     font-size:110%;
     font-weight:300;
     border:2px solid black
 }

 .display
 {
     display:block;
     margin:0 auto;
     background-color:#0719B8;
     width:75%;
     border:solid 5px;
     text-align:center;
 }

 #btnPlayAgain
 {
     background-color:lightgray;
     color:black;
     font-size:110%;
     font-weight:300;
     border:2px solid black;
     width:200px;
     height:50px;
 }

 table.highScores
 {
    margin-left:auto;
    margin-right:auto;
     color:white;
     font-size:125%;
     padding:10px;
     font-weight:400;
     text-shadow:1px 1px black;

 }
 table.highScores td
 {
     padding:2px 5px 2px 5px;

 }