body {
    height:100%;
    font-family:Arial;
    background-image:url("Resources//images/jeopardy.jpg");
}
 input.GameBoardCell
 {
     width:95%;
     height:95%;
     text-align: center;
     font-size:175%;
     font-weight: 900;
     text-shadow:5px 5px black;
     padding: 1% 1%;
     color:#D69F4C;
     
 }
 input[type=submit]
 {
     background-color:#0719B8;
     border:none;
     cursor:pointer;
     
 }
 input.answer_choice
 {
     display:block;
     width:80%;
     margin:0 auto;
     color:white;
     font-size:140%;
     font-weight:700;
     text-shadow:2px 2px black;
     padding:5px;
 }

 .question_material
 {
     width:100%;
 }
 .question_text
 {
     display:block;
     width:100%;
     margin:0 auto;
     text-align:center;
     color:white;
     font-size:225%;
     padding:20px;
     font-weight:700;
     text-shadow:3px 3px black;
 }

 input[type=submit]:hover
 {
     background-color:#151B72;
 }
 td.boardHead
 {
     text-shadow:3px 3px black;
     width:275px;
 }

 td.boardCell
 {
     height:125px;
 }

 table
 {
     table-layout:fixed;
 }

 .question_area
 {
     display:block;
     margin:0 auto;
     background-color:#0719B8;
     width:75%;
 }

 #tblGameboard
 {
     display:block;
     width:1650px;
     table-layout:fixed;
     margin:0 auto;
 }